#contect{
    width: 100%;
    height: 100vh;
    background-color:#1a1a1a;
    position: relative;
    color: rgb(255, 255, 255);
    overflow: hidden;
    padding-bottom: 30px;
    background-repeat:no-repeat;
    background-position-y: 100px;
    filter: brightness(50%);
    background-size:10cm;
    padding: 20px;
}
.content{

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content .title{
    color: tomato;
}


.content .mass{
    position: absolute;
    top:100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../Images/download (3).jpg");
    background-size: cover;
    padding: 30px;
    border-radius: 20px;
}
.content .mass::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.779);
    z-index: 1;
    
}
.content .mass div{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;  
    color: rgb(255, 255, 255);      
    z-index: 2;
    

}
.content .mass div form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.content .mass div form input{
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    color: rgb(255, 0, 0);
    font-size: 1rem;
    font-weight: 900;
}
.content .mass div form textarea{
    width: 300px;
    height: 100px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
.content .mass div form .but{
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    cursor: pointer;
    text-transform: uppercase;
}
.content .mass div form label{
    font-size: 1rem;
    font-weight: 900;
    position: relative;
    left: -100px;
    
}
.content .mass div form .but:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(0, 255, 17);
}

.content .icones{
    display: flex;
    gap: 20px;
    position: absolute;
    bottom: -5px;
    
}
.content .icones ul{
    display: flex;
    padding: 10px;
    position: relative;
    bottom: 20px;
    
    
}
.content .icones ul li{
    list-style: none;
    font-size: 1.2rem;
    margin-left: 20px;
    background-color: rgb(255, 255, 255);
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;

}
.content .icones ul li:hover a::before{
    content: '';
    width: 20px;
    height: 20px;
    position:absolute;
    rotate: -10deg;
    top: 0px;
    left: 85px;
    font-size: .6rem;
    background-color:rgb(40, 132, 208);
    text-align: center;
}
.content .icones ul li:nth-child(2):hover a::before{
    left: 175px;

}
.content .icones ul li:nth-child(3):hover a::before{
    left: 265px;
}
.content .icones ul li:nth-child(4):hover a::before{
    left: 355px;
}
.content .icones ul li:nth-child(5):hover a::before{
    left: 450px;
}
.content .icones ul li:hover a::after{
    content: 'Magge to me';
    width: 15%;
    height: 20px;
    position:absolute;
    top: -2px;
    font-size: .6rem;
    background-color: rgb(40, 132, 208);
    text-align: center;
}
.content .icones ul li:nth-child(2):hover a::after{
    content: "Follow me";
}
.content .icones ul li:nth-child(3):hover a::after{
    content: "Follow me";
}
.content .icones ul li:nth-child(4):hover a::after{
    content:"whatsapp me";
}
.content .icones ul li:nth-child(5):hover a::after{
    content: "Haker rank";
}
.content .addr{
    position: absolute;
    bottom: 10px;
    font-size: .4rem;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
    color: coral;
}
@media   screen  and (min-width:1024px){
    .content .mass{
        left: 100px;
    }
    .content .mass::after{
        content: '';
    width: 150%;
    height: 150%;
    position: absolute;
    top: -50px;
    left: 500px;
    background-color: transparent;
    background-image: url("../Images/can-removebg-preview.png");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;


    }
    .content .addr{
        left:700px ;
    }
    .content .icones{
        left: 730px;
    }
}