.navcontainer{
    position: fixed;
    top: 0;
    width: 100%;
    height:20px;
    display: flex;
    justify-content: center;
    align-content: center;
    z-index: 5;

}
.navcontainer .logo{

    position: absolute;
    left: 10px;
    top: 10px;
    font-size: .6rem;
    font-weight: 600;

    
}
.navcontainer  .message{
    position: absolute;
    left: 10px;
    top: 100px;
    font-size: 2rem;
    cursor: pointer;
    transition: 1s;
   
}
.navcontainer  .message:hover{
    color: coral;
}
.navcontainer .logo h2::first-letter{

    color: RED;
}

.navcontainer .open{
    width: 30px;
    height: 30px;
    background-color: coral;
    border-radius: 10px 0px 10px 30px;
    position: absolute;
    right: 0;
    top: 140px;
    cursor: pointer;
}
.navcontainer .nav{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.386);
    right: 10px;
    top: 40px;
    width: 50px;
    height: 250px;
    
   
    border-radius: 10px;
    
    transition: 1s;
   display: flex;
   align-content: center;
   justify-content: center;
    

}


.navcontainer .nav  ul {

    list-style: none;
    display: flex;
    flex-direction:column ;
    /* border: 2px solid red; */
    width: 200px;
    padding: 0;
} 
.navcontainer .nav ul li{

    
    /* border-bottom: 2px solid gray; */
 
    /* border: 2px solid green; */
    width: 200px;
    /* background-color: black; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 16px;
}

.navcontainer .nav ul li a{
    
   display: flex;
   align-items: center;
   justify-content: center;
   text-decoration: none;
   color: white;
   /* border: 2px solid red; */
   width: 200px;

   
}

.navcontainer .nav  ul li a span:first-child{
    
    position: absolute;
    left: 20px;
    display: none;


}
.navcontainer .nav  ul li a span:last-child{
  
  background-color:coral;
  width: 30px;
  height: 30px;
  border-radius:100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  /* border: 2px solid #1f1f1f; */
  box-shadow: 1px 1px 10px coral ;

}
.navcontainer .nav  ul li:nth-child(1) a:hover span:last-child::after,.navcontainer .nav  ul li:nth-child(2) a:hover span:last-child::after,

.navcontainer .nav  ul li:nth-child(3) a:hover span:last-child::after,.navcontainer .nav  ul li:nth-child(4) a:hover span:last-child::after,.navcontainer .nav  ul li:nth-child(5) a:hover span:last-child::after,.navcontainer .nav  ul li:nth-child(6) a:hover span:last-child::after
{
    
    content: "HOME";
    position: absolute;
    left: -53px;
    top: 18px;
    height: 5px;
    padding: 10px;
    width: 55px;
    font-weight: 800;
    font-size: .7rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 10px 0 0 10px ;
    z-index: -1;
    color: coral;
    text-shadow: 1px 1px 10px coral;

    
}

.navcontainer .nav  ul li:nth-child(2) a:hover span:last-child::after{
    content: "ABOUT";
    top: 65px;


}
.navcontainer .nav  ul li:nth-child(3) a:hover span:last-child::after{
    
    content: "PROJECT";
    top: 111px;
    left: -60px;


}
.navcontainer .nav  ul li:nth-child(4) a:hover span:last-child::after{
    
    content: "SKILS";
    top: 157px;
    left: -40px;


}
.navcontainer .nav  ul li:nth-child(5) a:hover span:last-child::after{
    
    content: "EDUCTION";
    top: 203px;
    width: 60PX;
    left: -74PX;

}
.navcontainer .nav  ul li:nth-child(6) a:hover span:last-child::after{
    
    content: "CONTECT";
    top: 248px;
    width: 65PX;
    left: -70PX;
}
@media   screen  and (min-width:1024px)
{


    /* .navcontainer .nav{
        position: sticky;
        left: 20px;
    } */
}



.navcontainer .mag{
    width: 300px;
    height: 400px;
    z-index: 200;
    background-color: rgba(0, 0, 0, 0.564);
    border-radius: 20px;
    position: absolute;
    left: 50px;
    top: 100px;
    display: none;
}

.navcontainer .mag div form{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.navcontainer .mag div form input{
    width: 200px;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}
.navcontainer .mag div form  label{
position: relative;
top: 10px;
left:-70px;
text-transform: uppercase;
}
textarea{
    width: 250px;
    height: 100px;
    padding: 10px;
    border-radius: 20px;
}
.close{
    position: absolute;
    right: 10px;
    top: 10px;
    /* background-color: aqua; */
    font-size: 1.5rem;
    transition: 1s;
    cursor: pointer;
}
.close:hover{
    color: red;
}
.but1:hover{
    background-color: coral;
}